.form__header {
    text-align: center;
    color: #085e25;
    text-shadow: 1px 1px #0531149f;
}

.form__fieldset {
    border: 5px solid rgb(10, 107, 23);
    border-radius: 10px;
    padding: 60px;
    max-width: 50%;
    margin: auto;
    background-color: hsla(128, 35%, 39%, 0.068);
    line-height: 3;

}

.form_row {
    text-align: center;
}

.form_text {
    text-align: center;
}

.form_select {
    padding: 10px;
    margin-left: 20px;
}

.form__labelText {
    width: 100%;
    max-width: 100px;
    display: inline-block;

}

.input {
    padding: 10px;
    margin-left: 10px;

}

.form_button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: rgb(10, 107, 23);
    border-radius: 20px;
    color: #fff;
    border-color: none;
}

.form_button:hover {
    background-color: hsl(128, 83%, 33%);
}

.form_button:active {
    background-color: hsl(128, 83%, 43%);
}

.form_result {
    color: rgb(10, 107, 23);
    text-align: center;
    font-size: 20px;
}